<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Naman's modern résumé</title>
    <meta name="description" content="Hey! This is my Glassmorphism based résumé :)">
    <meta name="author" content="Doshi Naman">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/static/assets/img/icon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
    <link rel="stylesheet" href="/static/assets/css/styleCV.css" />
  </head>
  <body>
    <div class="square" style="--i: 0"></div>
    <div class="square" style="--i: 1"></div>
    <div class="square" style="--i: 2"></div>
    <div class="square" style="--i: 3"></div>
    <div class="square" style="--i: 4"></div>
    <div class="container">
      <div class="left_side">
        <div class="profileText">
          <div
            class="imgBx"
            id="img1"
            data-tilt
            data-tilt-scale="1.1"
            data-tilt-reverse="true"
          >
            <img src="/static/assets/img/nd.jpg" />
          </div>
          <h2 class="type"></h2>
          <h2>
            Doshi Naman<br /><span class="itype"></span
            ><!--<br><span>Competitive Programmer</span>-->
          </h2>
        </div>

        <div class="contactInfo">
          <h3 class="title">Contact Info</h3>
          <ul>
            <li class="links">
              <span class="icon"
                ><i class="fa fa-phone" aria-hidden="true"></i
              ></span>
              <span class="text"
                ><a href="tel:+917405401798">+91 74054 01798</a></span
              >
            </li>
            <li class="links">
              <span class="icon"
                ><i class="fa fa-envelope-o" aria-hidden="true"></i
              ></span>
              <span class="text">npdoshi2@gmail.com</span>
            </li>
            <li class="links">
              <span class="icon"
                ><i class="fa fa-instagram" aria-hidden="true"></i
              ></span>
              <span class="text"
                ><a href="https://instagram.com/naman_d0shi/" target="_blank"
                  >www.instagram.com/me</a
                ></span
              >
            </li>
            <li class="links">
              <span class="icon"
                ><i class="fa fa-github-alt" aria-hidden="true"></i
              ></span>
              <span class="text"
                ><a href="https://github.com/DoshiNaman/" target="_blank"
                  >www.github.com/me</a
                ></span
              >
            </li>
            <li class="links">
              <span class="icon">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </span>
              <span class="text"
                ><a
                  href="https://www.linkedin.com/in/naman-doshi-007/"
                  target="_blank"
                  >www.linkedin.com/me</a
                ></span
              >
            </li>
            <li class="links">
              <span class="icon">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
              </span>
              <span class="text">Ahmedabad, Gujarat, India</span>
            </li>
          </ul>
        </div>

        <div class="contactInfo education">
          <h3 class="title">Education</h3>
          <ul>
            <li>
              <h5>2020-2023</h5>
              <h4>Bachelor of Technology In Computer Science</h4>
              <h4>Gujarat Technological University</h4>
            </li>
            <li>
              <h5>2017-2020</h5>
              <h4>Diploma In Computer Science</h4>
              <h4>Gujarat Technological University</h4>
            </li>
            <li>
              <h5>2007-2017</h5>
              <h4>Matriculation</h4>
              <h4>Gujarat Secondary and Higher Secondary Education Board</h4>
            </li>
          </ul>
        </div>

        <div class="contactInfo lang">
          <h3 class="title">Languages</h3>
          <ul>
            <li>
              <span class="text">Gujarati</span>
              <span class="percent">
                <div style="width: 95%"></div>
              </span>
            </li>
            <li>
              <span class="text">English</span>
              <span class="percent">
                <div style="width: 90%"></div>
              </span>
            </li>
            <li>
              <span class="text">Hindi</span>
              <span class="percent">
                <div style="width: 93%"></div>
              </span>
            </li>
          </ul>
        </div>

        <p class="copyright">Copyright © 2020-2021 Naman</p>
      </div>

      <div class="right_side">
        <div class="about">
          <h2 class="title2">Profile</h2>
          <div class="text">
            Myself is required to be proficient in
            <i>front-end development and back-end Web Development</i>, coding
            with HTML, CSS, and JS for the client-side, and maintaining
            databases and infrastructure server-side with PHP,PYTHON.<br />
            <hr />
            I oversee every step in developing a new <i>app</i> and involve the
            initial workshopping of ideas to determine what direction to go in.
            I take ideas and utilize various software platforms to make this app
            a reality. <br />
            <hr />
            Within gaming software development, a <i>game programmer</i> can be
            a computer engineer, coder, or programmer like as me. This position
            incorporates advanced computer knowledge with a creative component
            to develop new games or other software programs. <br />
            <hr />
            I just show one of those skills which is acquired by me and that's
            Algorithm Skills, Basic Math Skills, Programming Skills, Typing
            Speed Skills are required in <i>Competitive Programming </i>.
          </div>
        </div>

        <div class="about">
          <h2 class="title2">Experience</h2>
          <div class="box">
            <div class="year_company">
              <h5>JAN, 2021 - JULY, 2021</h5>
              <h5>IANT</h5>
            </div>
            <div class="text">
              <h4>Software Trainner</h4>
              <p>
                IANT (Institute of Advance Network Technology) is a premier IT
                Company facilitating Advanced IT Training, International
                Educational Certifications, Infrastructure Development, Manpower
                Outsourcing & Recruitment.
              </p>
            </div>
          </div>
        </div>

        <div class="about skills">
          <h2 class="title2">Professional Skills</h2>
          <div class="box">
            <h4>PYTHON</h4>
            <div class="percent">
              <div style="width: 98%"></div>
            </div>
          </div>
          <div class="box">
            <h4>Java</h4>
            <div class="percent">
              <div style="width: 93%"></div>
            </div>
          </div>
          <div class="box">
            <h4>PHP</h4>
            <div class="percent">
              <div style="width: 96%"></div>
            </div>
          </div>
          <div class="box">
            <h4>Html & Css</h4>
            <div class="percent">
              <div style="width: 95%"></div>
            </div>
          </div>
          <div class="box">
            <h4>C & C++</h4>
            <div class="percent">
              <div style="width: 83%"></div>
            </div>
          </div>
          <div class="box">
            <h4>JAVASCRIPT</h4>
            <div class="percent">
              <div style="width: 85%"></div>
            </div>
          </div>
          <div class="box">
            <h4>MYSQL-MANGODB</h4>
            <div class="percent">
              <div style="width: 84%"></div>
            </div>
          </div>
        </div>

        <div class="about interest2">
          <h2 class="title22">Work</h2>
          <ul>
            <li>
              <i class="fa fa-html5"></i><i class="fa fa-css3"></i> 250+
              front-end work
            </li>
            <li>
              <i class="fa fa-database"></i><i class="fa fa-cloud"></i> 100+
              back-end work
            </li>
            <li><i class="fa fa-code"></i> 80+ Python Work</li>
            <li><i class="fa fa-gamepad"></i> 50+ Gaming Work</li>
          </ul>
        </div>

        <div class="about interest">
          <h2 class="title2">Interest</h2>
          <ul>
            <li><i class="fa fa-futbol-o"></i> Sports</li>
            <li><i class="fa fa-motorcycle"></i> Travelling</li>
            <li><i class="fa fa-book"></i> Reading</li>
            <li><i class="fa fa-cutlery"></i> Cooking</li>
          </ul>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="/static/assets/js/vanilla.js"></script>
    <script>
      VanillaTilt.init(document.querySelector("#img1"), {
        max: 25,
        speed: 400,
      });
    </script>
    <script type="text/javascript" src="/static/assets/js/itype.js"></script>
    <script type="text/javascript">
      window.ityped.init(document.querySelector(".itype"), {
        strings: [
          "Full Stack Developer",
          "Game Developer",
          "Android Developer",
          "Graphic Designer",
        ],
        loop: true,
        showCursor: true,
        disableBackTyping: false,
        cursorChar: "|",
        typeSpeed: 150,
        backSpeed: 50,
        startDelay: 500,
        backDelay: 500,
        showCursor: true,
        placeholder: false,
      });
    </script>
  </body>
</html>
